<app-description title="CrmSectionComponent" subTitle="Section with vertical display">
  <app-viewbox>
    <crm-section display="vertical">
      Section
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section01"></app-codebox>
</app-description>

<app-description title="CrmSectionComponent" subTitle="Section with horizontal display">
  <app-viewbox>
    <crm-section display="horizontal">
      Section
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section02"></app-codebox>
</app-description>

<app-description title="CrmSectionHeaderComponent" subTitle="Section with section header">
  <app-viewbox>
    <crm-section display="vertical">
      <crm-section-header>
        Header
      </crm-section-header>
    </crm-section>

    <crm-section display="horizontal">
      <crm-section-header>
        Header
      </crm-section-header>
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section03"></app-codebox>
</app-description>

<app-description title="CrmSectionContentComponent" subTitle="Section with section header and content">
  <app-viewbox>
    <crm-section display="vertical">
      <crm-section-header>
        Header
      </crm-section-header>

      <crm-section-content>
        Content
      </crm-section-content>
    </crm-section>

    <crm-section display="horizontal">
      <crm-section-header>
        Header
      </crm-section-header>

      <crm-section-content>
        Content
      </crm-section-content>
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section04"></app-codebox>
</app-description>

<app-description title="CrmSectionContentFooterComponent" subTitle="Section with section header, content and content footer">
  <app-viewbox>
    <crm-section display="vertical">
      <crm-section-header>
        Header
      </crm-section-header>

      <crm-section-content>
        Content
        <crm-section-content-footer>
          Content footer
        </crm-section-content-footer>
      </crm-section-content>
    </crm-section>

    <crm-section display="horizontal">
      <crm-section-header>
        Header
      </crm-section-header>

      <crm-section-content>
        Content
        <crm-section-content-footer>
          Content footer
        </crm-section-content-footer>
      </crm-section-content>
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section05"></app-codebox>
</app-description>

<app-description title="CrmSectionContentFooterComponent" subTitle="Content footer alignment">
  <app-viewbox>
    <crm-section>
      <crm-section-content>
        <crm-section-content-footer align="start">
          Start
        </crm-section-content-footer>
      </crm-section-content>
    </crm-section>

    <crm-section>
      <crm-section-content>
        <crm-section-content-footer align="center">
          Center
        </crm-section-content-footer>
      </crm-section-content>
    </crm-section>

    <crm-section>
      <crm-section-content>
        <crm-section-content-footer align="end">
          End
        </crm-section-content-footer>
      </crm-section-content>
    </crm-section>
  </app-viewbox>

  <app-codebox path="/section/section06"></app-codebox>
</app-description>
