<app-description title="CrmInputComponent" subTitle="Default input component">
  <app-viewbox>
    <crm-input></crm-input>
  </app-viewbox>

  <app-codebox path="/input/01"></app-codebox>
</app-description>

<app-description title="CrmInputComponent" subTitle="Input component with placeholder">
  <app-viewbox>
    <crm-input placeholder="Placeholder"></crm-input>
  </app-viewbox>

  <app-codebox path="/input/02"></app-codebox>
</app-description>

<app-description title="CrmInputComponent" subTitle="SSN type input component">
  <app-viewbox>
    <crm-input placeholder="000-00-0000" type="ssn"></crm-input>
  </app-viewbox>

  <app-codebox path="/input/03"></app-codebox>
</app-description>

<app-description title="CrmInputComponent" subTitle="Date type input component">
  <app-viewbox>
    <crm-input placeholder="MM/DD/YYYY" type="date"></crm-input>
  </app-viewbox>

  <app-codebox path="/input/04"></app-codebox>
</app-description>


<app-description title="CrmInputComponent" subTitle="Disabled input">
  <app-viewbox>
    <crm-input disabled placeholder="Disabled"></crm-input>
  </app-viewbox>

  <app-codebox path="/input/05"></app-codebox>
</app-description>

