<app-description title="CrmButtonComponent" subTitle="Button by types">
  <app-viewbox>
    <crm-group direction="horizontal" gap="15">
      <!-- primary is default type -->
      <crm-button crmGroupItem type="primary">
        Primary
      </crm-button>

      <crm-button crmGroupItem type="secondary">
        Secondary
      </crm-button>

      <crm-button crmGroupItem type="inline">
        Inline
      </crm-button>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/button/01"></app-codebox>
</app-description>

<app-description title="CrmButtonComponent" subTitle="Button alignment">
  <app-viewbox>
    <crm-group direction="vertical" gap="15">
      <crm-button crmGroupItem align="start">
        Start
      </crm-button>

      <crm-button crmGroupItem align="center">
        Center
      </crm-button>

      <crm-button crmGroupItem align="end">
        End
      </crm-button>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/button/02"></app-codebox>
</app-description>

<app-description title="CrmButtonComponent" subTitle="Search button">
  <app-viewbox>
    <crm-group direction="horizontal" gap="15">
      <crm-button crmGroupItem type="primary" search>
        Search
      </crm-button>

      <crm-button crmGroupItem type="secondary" search>
        Search
      </crm-button>

      <crm-button crmGroupItem type="inline" search>
        Search
      </crm-button>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/button/03"></app-codebox>
</app-description>

<app-description title="CrmButtonComponent" subTitle="Dropdown button">
  <app-viewbox>
    <crm-group direction="horizontal" gap="15">
      <crm-button crmGroupItem type="primary" dropdown>
        Dropdown
      </crm-button>

      <crm-button crmGroupItem type="secondary" dropdown>
        Dropdown
      </crm-button>

      <crm-button crmGroupItem type="inline" dropdown>
        Dropdown
      </crm-button>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/button/04"></app-codebox>
</app-description>

