<app-description title="CrmDropdownComponent" subTitle="Common dropdown">
  <app-viewbox>
    <crm-dropdown [options]="options" [(value)]="value"></crm-dropdown>
  </app-viewbox>

  <app-codebox path="/dropdown/01"></app-codebox>
</app-description>

<app-description title="CrmDropdownComponent" subTitle="Dropdown with placeholder">
  <app-viewbox>
    <crm-dropdown [options]="options" [(value)]="value" placeholder="Custom placeholder"></crm-dropdown>
  </app-viewbox>

  <app-codebox path="/dropdown/02"></app-codebox>
</app-description>
