@mixin flex($align: null, $justify: null, $direction: null) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin box($size) {
  width: $size;
  height: $size;
}

@mixin ball($size) {
  @include box($size);
  border-radius: 50%;
}

@mixin padding($padding) {
  box-sizing: border-box;
  padding: $padding;
}

@mixin border($position, $border) {
  box-sizing: border-box;

  @if ($position) {
    border-#{$position}: $border;
  } @else {
    border: $border;
  }
}

@mixin semiBoldS {
  font-size: 14px;
  font-weight: 500;
}

@mixin semiBoldM {
  font-size: 16px;
  font-weight: 500;
}

@mixin semiBoldSL {
  font-size: 17px;
  font-weight: 500;
}

@mixin semiBoldL {
  font-size: 20px;
  font-weight: 500;
}

@mixin regularS {
  font-size: 14px;
  font-weight: 400;
}

@mixin break($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
