<app-description title="CrmIconComponent" subTitle="Use preset icons with icon component">
  <app-viewbox>
    <crm-icon icon="document-add"></crm-icon>
    <crm-icon icon="document-check"></crm-icon>
    <crm-icon icon="sort-up"></crm-icon>
    <crm-icon icon="sort-down"></crm-icon>
  </app-viewbox>

  <app-codebox path="/icon/01"></app-codebox>
</app-description>

<app-description title="CrmIconComponent" subTitle="Clickable icon component">
  <app-viewbox>
    <crm-icon clickable icon="document-add"></crm-icon>
  </app-viewbox>

  <app-codebox path="/icon/02"></app-codebox>
</app-description>
