<app-description title="CrmPageHeaderComponent" subTitle="Page header component">
  <app-viewbox>
    <crm-page-header>
    </crm-page-header>
  </app-viewbox>

  <app-codebox path="/page-header/page-header01"></app-codebox>
</app-description>

<app-description title="CrmPageTitleComponent" subTitle="Page header component with title">
  <app-viewbox>
    <crm-page-header>
      <crm-page-title>
        Title
      </crm-page-title>
    </crm-page-header>
  </app-viewbox>

  <app-codebox path="/page-header/page-header02"></app-codebox>
</app-description>

<app-description title="CrmPageSubTitleComponent" subTitle="Page header component with title and sub title">
  <app-viewbox>
    <crm-page-header>
      <crm-page-title>
        Title
      </crm-page-title>

      <crm-page-sub-title>
        Sub title
      </crm-page-sub-title>
    </crm-page-header>
  </app-viewbox>

  <app-codebox path="/page-header/page-header03"></app-codebox>
</app-description>

<app-description title="CrmPageTabComponent" subTitle="Page header with tab component">
  <app-viewbox>
    <crm-page-header>
      <crm-page-title>
        Title
      </crm-page-title>

      <crm-page-sub-title>
        Sub title
      </crm-page-sub-title>

      <crm-page-tab>
      </crm-page-tab>
    </crm-page-header>
  </app-viewbox>

  <app-codebox path="/page-header/page-header04"></app-codebox>
</app-description>

<app-description title="CrmPageTabItemComponent" subTitle="Page header with tab component and tab item">
  <app-viewbox>
    <crm-page-header>
      <crm-page-title>
        Title
      </crm-page-title>

      <crm-page-sub-title>
        Sub title
      </crm-page-sub-title>

      <crm-page-tab [(value)]="tab">
        <crm-page-tab-item value="tab-1">
          Tab 1
        </crm-page-tab-item>

        <crm-page-tab-item value="tab-2">
          Tab 2
        </crm-page-tab-item>
      </crm-page-tab>
    </crm-page-header>
  </app-viewbox>

  <app-codebox path="/page-header/page-header05"></app-codebox>
</app-description>
