<app-description title="CrmGroupComponent" subTitle="Group component must be used with group item directive">
  <app-viewbox>
    <crm-group direction="vertical" gap="30">
      <div crmGroupItem>
        Item 1
      </div>

      <div crmGroupItem>
        Item 2
      </div>

      <div crmGroupItem>
        Item 3
      </div>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/group/01"></app-codebox>
</app-description>

<app-description title="CrmGroupComponent" subTitle="Horizontal alignment">
  <app-viewbox>
    <crm-group direction="horizontal" gap="30">
      <div crmGroupItem>
        Item 1
      </div>

      <div crmGroupItem>
        Item 2
      </div>

      <div crmGroupItem>
        Item 3
      </div>
    </crm-group>
  </app-viewbox>

  <app-codebox path="/group/02"></app-codebox>
</app-description>
