<crm-section crmGroupItem>
        <crm-section-header>
                Discretionary Billing Items (DBI)
        </crm-section-header>
    
        <crm-section-content>
            <crm-auto-table [(page)]="page" [columns]="columns" 
                [rows]="discretionaryBillingItems"
                class="bills-table" pageable selectable>
    
                <div crmTooltipContent>
                    Custom tooltip content Custom tooltip
                    <span>
                        <crm-icon icon="document-add"></crm-icon> with Icon
                    </span>
                    contentCustom tooltip contentCustom tooltip content
                </div>
            </crm-auto-table>
        </crm-section-content>
    </crm-section>