@import "../../common";

:host {
  display: block;
  width: 760px;
  padding-left: 30px;
  margin: 0 auto 100px;

  .header {
    @include flex(center);
    @include padding(0 15px);
    position: sticky;
    top: 0;
    height: 55px;
    box-shadow: 0 3px 6px rgba(#000, .12);
    background-color: #fff;
    z-index: 100;

    crm-dropdown {
      width: 300px;
    }
  }
}
